.button-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: none;
}

.light {
  background: #a6f3e5;
}

.dark {
  background: purple;
}
