li {
  display: inline;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: none;
}

/* button classes */

.button-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.light {
  background: #b5e8de;
}

.dark {
  background: #432c85;
}

/* navbar classes */

.navbar {
  margin: 2em;
}
