li {
  display: inline;
}

button {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  border: none;
}

/* Home Container classes */

.home-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr auto;
  justify-items: center;
}

.book-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0 0 2rem rgba(0, 145, 255, 0.1);
  justify-items: center;
  padding: 2rem;
  margin: 2rem;
  width: 20rem;
  height: 25rem;
  background-color: white;
  border-radius: 1.75rem;
  animation: 3s ease-in-out 0ms 1 fadein;
}

/* button classes */

.button-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.light {
  background: #e3fff9;
  box-shadow: 0 0.5rem 2rem rgba(106, 0, 255, 0.2);
}

.light:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 2rem rgba(106, 0, 255, 0.5);
  margin-top: -10px;
}

.dark {
  background: #432c85;
}

/* navbar classes */

.navbar {
  margin: 2em;
}
